/*Style Body*/
body {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}
/*Style Header img*/
header img {
    width: 100%;
}

/*-----------------------------------------------*/

/*Starting of Style welcome*/
/*Starting of Style Slide Show*/
.slideshowContainer {
    max-width: 100%;
    position: relative;
    margin: auto; /*Adjust width and alignment*/
}
.quoteSlides {
    display: flex;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: xx-small;
}
.articleslide {
    flex: 1;
    display: inline-block; /*Two articles inline*/
    max-width: 65%; /*Forcing text to one line by adjusting width*/
    align-self: flex-start; /*Align top*/
    padding: 10px;
}
/*Style of Navigation Clickable Dots*/
.dot {
    height: 0.7vw;
    width: 0.7vw;
    margin: 0 2px;
    background-color: rgba(51, 51, 51);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}
.activeDot {
    background-color: #00FF16; /*Set green active dot*/
}
/*Ending of Style Slide Show*/
/*Style Introduction*/
#introId {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    background: radial-gradient(at 100% 0%, rgba(51, 51, 51), black);
}
/*Ending of Style Welcome*/

/*-----------------------------------------------*/

/*Starting of Style Motherhood*/
#motherhoodId {
    text-align: center;
    
}
.motherhoodChapter {
    width: 80%;
    margin: auto; /*Adjust width and alignment*/
}
.chapterIcon img {
    width: 15vw;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(-25deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(25deg);}
    100% {transform: rotate(0deg);}
}
/*Ending of Style Motherhood*/
.animatingImage {
    overflow: hidden;
    animation: rotate 6s linear infinite;
    
}
.animatingImage img {
    width: 15vw;
}
.chapterAction a {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}
.chapterAction img {
    width: 2vw;
}
.chapterAction div {
    color: #00FF16;
}
/*Ending of Style Motherhood*/

/*-----------------------------------------------*/

/*Starting of Style Contact*/
.cn-body{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fae9fb;
  position: relative;
}
.cn-body::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: #ba24c2;
  clip-path: polygon(86% 0, 100% 0, 100% 100%, 60% 100%);
}
.cn-container{
  z-index: 12;
  max-width: 1050px;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  margin: 0 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.cn-container .cn-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
}
.cn-content .cn-image-box{
  max-width: 55%;
}
.cn-content .cn-image-box img{
  width: 100%;
}
.cn-content .cn-topic{
  font-size: 22px;
  font-weight: 500;
  color: #ba24c2;
}
.cn-content form{
  width: 40%;
  margin-right: 30px;
}
.cn-content .cn-input-box{
  height: 50px;
  width: 100%;
  margin: 16px 0;
  position: relative;
}
.cn-content .cn-input-box input{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  padding-left: 16px;
  background: #fae9fb;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}
.cn-content .cn-input-box input:focus,
.cn-content .cn-input-box input:valid{
  border-color: #ba24c2;
  background-color: #fff;
}
.cn-content .cn-input-box label{
  position: absolute;
  left: 18px;
  top: 50%;
  color: #636c72;
  font-size: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.cn-content .cn-input-box input:focus ~ label,
.cn-content .cn-input-box input:valid ~ label{
  top: 0;
  left: 12px;
  display: 14px;
  color: #ba24c2;
  background: #fff;
}
.cn-content .cn-message-box{
  min-height: 100px;
  position: relative;
}
.cn-content .cn-message-box textarea{
  position: absolute;
  height: 100%;
  width: 100%;
  resize: none;
  background: #fae9fb;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  transition all 0.3s ease;
}
.cn-content .cn-message-box textarea:focus{
  border-color: #ba24c2;
  background-color: #fff;
}
.cn-content .cn-message-box label{
  position: absolute;
  font-size: 16px;
  color: #636c72;
  left: 18px;
  top: 6px;
  pointer-events: none;
  transition: all 0.3s ease;
}
.cn-content .cn-message-box textarea:focus ~ label{
  left: 12px;
  top: -10px;
  color: #ba24c2;
  font-size: 14px;
  background: #fff;
}
.cn-content .cn-input-box input[type="submit"]{
  color: #fff;
  background: #ba24c2;
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.cn-content .cn-input-box input[type="submit"]:hover{
  background-color: #d43ddb;
}
@media (max-width:1000px) {
  .cn-content .cn-image-box{
    max-width: 70%;
  }
  .cn-content{
    padding: 10px 0;
  }
}
@media (max-width:900px) {
  .cn-content .cn-image-box{
    display: none;
  }
  .cn-content form{
    width: 100%;
    margin-left: 30px;
  }
}
/*Ending of Style Contact*/

/*-----------------------------------------------*/

/*Starting of Style Top Nav Toggle*/
#toTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px white;
    transform: rotate(-90deg);
    margin: auto;
    font-size: large;
}
/*Ending of Style Top Nav Togle*/

/*-----------------------------------------------*/

/*Starting of Style Footer*/
footer {
    background: none;
}
footer div {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
footer a {
    text-decoration: none;
    color: white;
}
/*Ending of Style Footer*/